<div class="page-container">
  <app-account-header [account]="account()" [isContract]="isContract()" />

  <div class="tabs-container">
    <p-tabs [value]="activeTab()" (valueChange)="onTabChange($event)">
      <p-tablist>
        @for (tab of tabs(); track tab.value) {
          <p-tab [value]="tab.value">{{ tab.label }}</p-tab>
        }
      </p-tablist>
      <p-tabpanels>
        @for (tab of tabs(); track tab.value) {
          <p-tabpanel [value]="tab.value">
            @switch (tab.value) {
              @case ('operations') {
                <app-operations-tab />
              }
              @case ('storage') {
                <app-storage-tab />
              }
              @case ('code') {
                <app-code-tab />
              }
              @case ('entrypoints') {
                <app-entrypoints-tab />
              }
              @case ('views') {
                <app-views-tab />
              }
              @case ('tokens') {
                <app-tokens-tab />
              }
              @case ('events') {
                <app-events-tab />
              }
            }
          </p-tabpanel>
        }
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
