<div class="page-container">
  <app-account-header [account]="account()" [isContract]="isContract()" />

  <div class="tabs-container">
    <p-tabs [value]="activeTab()" (valueChange)="onTabChange($event)">
      <p-tablist>
        @for (tab of tabs(); track tab.value) {
          <p-tab [value]="tab.value">{{ tab.label }}</p-tab>
        }
      </p-tablist>
      <p-tabpanels>
        @for (tab of tabs(); track tab.value) {
          <p-tabpanel [value]="tab.value">
            @switch (tab.value) {
              @case ('operations') {
                <app-operations-tab
                  [operations]="accountOperations()"
                  [cursorState]="operationsCursor()"
                  (navigate)="onOperationsNavigate($event)"
                />
              }
              @case ('storage') {
                <app-storage-tab [storage]="storage()" />
              }
              @case ('code') {
                <app-code-tab [contractInterface]="contractInterface()" />
              }
              @case ('entrypoints') {
                <app-entrypoints-tab [entrypoints]="entrypoints()" />
              }
              @case ('views') {
                <app-views-tab [views]="contractViews()" />
              }
              @case ('tokens') {
                <app-tokens-tab
                  [tokens]="tokenBalances()"
                  [totalRecords]="tokenBalancesCount()"
                  [pageSize]="pageSize()"
                  [currentPage]="currentPage()"
                  (pageChange)="onPageChange($event)"
                />
              }
              @case ('events') {
                <app-events-tab
                  [events]="contractEvents()"
                  [totalRecords]="contractEventsCount()"
                  [pageSize]="pageSize()"
                  [currentPage]="currentPage()"
                  (pageChange)="onPageChange($event)"
                />
              }
            }
          </p-tabpanel>
        }
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
