<p-autoComplete
  [(ngModel)]="searchQuery"
  [suggestions]="suggestions()"
  (completeMethod)="onSearch($event)"
  (onSelect)="onSelect($event.value)"
  (keydown)="onKeyDown($event)"
  optionLabel="label"
  placeholder="Search by level, hash or alias"
  [scrollHeight]="'300px'"
  [showEmptyMessage]="false"
  [minLength]="2"
  appendTo="body"
>
  <ng-template let-result pTemplate="item">
    <div class="search-result-item">
      @if (result.type === 'block') {
        <i class="pi pi-box result-icon block-icon"></i>
      } @else {
        <i class="pi pi-user result-icon account-icon"></i>
      }
      <div class="result-content">
        <span class="result-label">{{ result.label }}</span>
        @if (result.type === 'account' && result.label !== result.value) {
          <span class="result-address">{{ result.value }}</span>
        }
      </div>
    </div>
  </ng-template>
</p-autoComplete>
