<div class="table-container">
  <table class="custom-table">
    <thead>
      <tr>
        @for (header of headers(); track header) {
          <th>{{ header }}</th>
        }
      </tr>
    </thead>
    @if (show()) {
      <tbody>
        <ng-content></ng-content>
      </tbody>
    } @else {
      <tbody>
        <tr>
          <td [attr.colspan]="headers().length" class="empty-message">
            <div class="no-data-container">
              <i class="pi pi-inbox" style="font-size: 3rem; color: #ccc"></i>
              <p>No data found.</p>
            </div>
          </td>
        </tr>
      </tbody>
    }
  </table>

  @if (paginator()) {
    <div class="paginator-container">
      <p-paginator
        [rows]="pageSize()"
        [totalRecords]="count()"
        [rowsPerPageOptions]="[10, 25, 50]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onPageChange)="onPageChange($event)"
      ></p-paginator>
    </div>
  }
</div>
