<table class="table table-striped">
  <thead>
    <tr>
      @for (header of headers(); track header) {
        <th scope="col">{{ header }}</th>
      }
    </tr>
  </thead>
  @if (show()) {
    <tbody>
      <ng-content></ng-content>
    </tbody>
  } @else {
    <tbody>
      <tr>
        <td colspan="100%">
          <p>No data found.</p>
        </td>
      </tr>
    </tbody>
  }
</table>
@if (paginator()) {
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="count()"
      [pageSize]="pageSize()"
      [maxSize]="maxSize()"
      [(page)]="page"
      (pageChange)="refreshView()"
    >
    </ngb-pagination>
  </div>
}
