<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" *ngFor="let header of headers">{{header}}</th>
    </tr>
  </thead>
  <tbody *ngIf="list.length > 0; else default">
    <ng-content></ng-content>
  </tbody>
</table>
<ng-template #default>
  <p>No data found.</p>
</ng-template>
<div *ngIf="paginator" class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="count"
    [(page)]="page"
    [pageSize]="pageSize"
    (pageChange)="refreshView()"
    [maxSize]="10"
  >
  </ngb-pagination>
</div>
