<div class="operations-tab">
  <app-table
    [data]="operations()"
    [columns]="columns"
    [paginatorMode]="'cursor'"
    [cursorState]="cursorState()"
    (cursorNavigate)="onNavigate($event)"
  >
    <ng-template #body let-operation>
      <tr class="data-row">
        <td>
          <span class="type-badge" [class]="getTypeClass(operation.type)">
            {{ operation.type }}
          </span>
        </td>
        <td>
          @if (operation.hash) {
            <span class="hash" [title]="operation.hash">
              {{ truncateHash(operation.hash) }}
            </span>
          } @else {
            <span class="no-hash">-</span>
          }
        </td>
        <td>
          <a [routerLink]="['/details', operation.level]" class="level-link">
            {{ operation.level | number }}
          </a>
        </td>
        <td>
          <span class="timestamp" [title]="operation.timestamp">
            {{ formatTimestamp(operation.timestamp) }}
          </span>
        </td>
        <td>
          @if (operation.sender) {
            <a
              [routerLink]="['/account', operation.sender.address]"
              class="address-link"
            >
              {{
                operation.sender.alias || truncateHash(operation.sender.address)
              }}
            </a>
          } @else {
            <span class="no-address">-</span>
          }
        </td>
        <td>
          @if (operation.target) {
            <a
              [routerLink]="['/account', operation.target.address]"
              class="address-link"
            >
              {{
                operation.target.alias || truncateHash(operation.target.address)
              }}
            </a>
          } @else {
            <span class="no-address">-</span>
          }
        </td>
        <td>
          <span class="amount">{{ formatAmount(operation.amount) }}</span>
        </td>
        <td>
          @if (operation.status) {
            <span
              class="status-badge"
              [class]="getStatusClass(operation.status)"
            >
              {{ operation.status }}
            </span>
          } @else {
            <span class="no-status">-</span>
          }
        </td>
      </tr>
    </ng-template>
  </app-table>
</div>
