<div class="navbar-container">
  <p-menubar>
    <ng-template pTemplate="start">
      <a routerLink="" class="brand-link">
        <img
          src="assets/tezos-logo.svg"
          alt="Tezos Logo"
          style="width: 1.5rem; height: 1.5rem; margin-right: 0.5rem"
        />
        <span class="brand-text">TezosSmall</span>
      </a>
      <div class="search-container">
        <app-search />
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      @if (authService.isAuthenticated()) {
        <div class="user-section">
          <img
            [src]="authService.user()?.avatar"
            [alt]="authService.user()?.name"
            class="user-avatar"
            referrerpolicy="no-referrer"
          />
          <span class="user-name">{{ authService.user()?.name }}</span>
          <p-button
            icon="pi pi-sign-out"
            [text]="true"
            severity="secondary"
            (onClick)="logout()"
            pTooltip="Sign out"
          />
        </div>
      } @else {
        <p-button
          label="Sign In"
          icon="pi pi-sign-in"
          [text]="true"
          (onClick)="navigateToLogin()"
        />
      }
    </ng-template>
  </p-menubar>
</div>
