<ng-container *ngIf="blocks$ | async as blocks">
  <app-table
    [headers]="['Hash', 'Level', 'Transactions', 'Proposer', 'Timestamp']"
    [list]="blocks"
    [count]="(count$ | async) || 100"
    [paginator]="true"
    (refresh)="refreshView($event)"
  >
    <tr *ngFor="let block of blocks">
      <td>
        <a [routerLink]="['/details', block.level]">{{ block.hash }}</a>
      </td>
      <td>{{ block.level }}</td>
      <td>{{ block.transactions }}</td>
      <td>{{ block.proposer?.alias ?? "\<none>" }}</td>
      <td>{{ block.timestamp | date : "dd.MM.yyyy HH:mm" }}</td>
    </tr>
  </app-table>
</ng-container>
