.spinner-border {
    width: 5rem;
    height: 5rem;
}

.position {
    position: absolute;
    top: 25%;
    left: 50%;
}

.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.2);
    z-index: 2;
}