@use '../../../styles.scss' as styles;

.spinner {
  position: absolute;
  top: 35vh;
  left: 50vw;
  border: 8px solid #f3f3f3;
  border-top: 8px solid styles.$tezos_blue; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.2);
  z-index: 2;
}
