<div class="page-container">
  <div class="page-header">
    <h1><i class="pi pi-list"></i> Block Transactions</h1>
    <p class="subtitle">Transaction details for this block</p>
  </div>

  <app-table [data]="transactions()" [columns]="columns" [scrollable]="true">
    <ng-template #body let-transaction>
      <tr class="data-row">
        <td>
          <a
            [routerLink]="['/account', transaction.sender.address]"
            class="address-link"
          >
            <i
              class="pi pi-user"
              style="font-size: 0.8rem; margin-right: 0.3rem"
            ></i>
            {{ transaction.sender.alias ?? transaction.sender.address }}
          </a>
        </td>
        <td>
          <a
            [routerLink]="['/account', transaction.target.address]"
            class="address-link"
          >
            <i
              class="pi pi-send"
              style="font-size: 0.8rem; margin-right: 0.3rem"
            ></i>
            {{ transaction.target.alias ?? transaction.target.address }}
          </a>
        </td>
        <td>
          <span class="amount">{{ transaction.amount }} ꜩ</span>
        </td>
        <td>
          <span
            [class]="'status-badge status-' + transaction.status.toLowerCase()"
          >
            {{ transaction.status }}
          </span>
        </td>
      </tr>
    </ng-template>
  </app-table>
</div>
